Repository jwt625/gdsjam: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, svelte-check --tsconfig ./tsconfig.app.json

.lintstagedrc.json:

{
	"*.{ts,js}": [
		"biome check --write --no-errors-on-unmatched",
		"biome format --write --no-errors-on-unmatched"
	],
	"*.svelte": [
		"biome format --write --no-errors-on-unmatched",
		"svelte-check --tsconfig ./tsconfig.app.json"
	]
}

Make example grid responsive for desktop/tablet with adjustable layout
  src/components/ui/FileUpload.svelte
Due: biome format --write --no-errors-on-unmatched, svelte-check --tsconfig ./tsconfig.app.json

fix: add touch support for comment placement on big touch screen devices using pointer events
  src/components/viewer/ViewerCanvas.svelte
Due: biome format --write --no-errors-on-unmatched, svelte-check --tsconfig ./tsconfig.app.json

Add pnpm to packages and change the precommit back to pnpm.
  .husky/pre-commit
  package.json
Due: none

fix lint error
  src/App.svelte
Due: biome format --write --no-errors-on-unmatched, svelte-check --tsconfig ./tsconfig.app.json

fix(parser,renderer): exclude context cells from top cell detection
  DevLog/DevLog-002-01-parsing-and-rendering-bugs.md
  src/lib/gds/GDSParser.ts
  src/lib/renderer/rendering/GDSRenderer.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

Fix BGNEXTN/ENDEXTN parsing with fast-path fallback strategy
  DevLog/DevLog-002-01-parsing-and-rendering-bugs.md
  src/lib/gds/GDSParser.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

Fix incorrect merge in GDSParser ENDEL case
  src/lib/gds/GDSParser.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

add devlog for parse path
  DevLog/DevLog-002-01-parsing-and-rendering-bugs.md
  DevLog/DevLog-002-02-path-support-implementation.md
Due: none

Add Python code execution endpoint for gdsfactory
  DevLog/DevLog-004-00-Python-Code-Editor.md
  server/.env.example
  server/pythonExecutor.js
  server/server.js
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

client side update planning.
  DevLog/DevLog-004-01-Client-Side-Editor.md
Due: none

client side planning
  DevLog/DevLog-004-00-Python-Code-Editor.md
  DevLog/DevLog-004-01-Client-Side-Editor.md
Due: none

fix: resolve memory leaks, file size check order, and security validation issues
  server/pythonExecutor.js
  src/App.svelte
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, svelte-check --tsconfig ./tsconfig.app.json

add PIC component showcase
  public/previews/PIC_component_showcase_20251214.png
  scripts/generate-previews.js
  src/lib/examples/examples.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

PIC component example script & add editor UI buttons for loading and clearing
  .env.example
  src/components/code/CodeEditor.svelte
  src/components/code/ConfirmModal.svelte
  src/components/code/EditorLayout.svelte
  src/components/code/ExampleSelector.svelte
  src/components/code/examples/pic_component_showcase.py
  src/lib/code/exampleScripts.ts
  src/lib/code/index.ts
  src/lib/code/types.ts
  src/vite-env.d.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, svelte-check --tsconfig ./tsconfig.app.json

bugfix editor not updating properly
  DevLog/DevLog-004-02-Monaco-Editor-Initialization-Debug.md
  src/components/code/CodeEditor.svelte
  src/components/code/EditorLayout.svelte
Due: biome format --write --no-errors-on-unmatched, svelte-check --tsconfig ./tsconfig.app.json

Fix effect reactivity by moving store access inside effect scope
  DevLog/DevLog-004-02-Monaco-Editor-Initialization-Debug.md
  src/components/code/CodeEditor.svelte
Due: biome format --write --no-errors-on-unmatched, svelte-check --tsconfig ./tsconfig.app.json

fix dashed line between two clicks
  src/components/viewer/ViewerCanvas.svelte
  src/lib/renderer/PixiRenderer.ts
  src/lib/renderer/overlays/MeasurementOverlay.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, svelte-check --tsconfig ./tsconfig.app.json

two finger exits measurement mode on mobile
  src/components/viewer/ViewerCanvas.svelte
Due: biome format --write --no-errors-on-unmatched, svelte-check --tsconfig ./tsconfig.app.json

snap to 45 deg increment
  DevLog/DevLog-005-00-Measurement-Mode.md
  DevLog/DevLog-005-01-Measurement-Snap-Feature.md
  src/components/viewer/ViewerCanvas.svelte
  src/lib/measurements/utils.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, svelte-check --tsconfig ./tsconfig.app.json

update helper modal
  src/components/ui/HelpModal.svelte
Due: biome format --write --no-errors-on-unmatched, svelte-check --tsconfig ./tsconfig.app.json

add AREF parsing
  DevLog/DevLog-002-03-via-layer-parsing-bug.md
  src/lib/gds/GDSParser.ts
  src/lib/renderer/rendering/GDSRenderer.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

graceful render failure
  src/components/viewer/ViewerCanvas.svelte
  src/lib/renderer/PixiRenderer.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, svelte-check --tsconfig ./tsconfig.app.json

start refactoring viewerCanvas
  src/components/viewer/ViewerCanvas.svelte
  src/lib/viewer/ViewerKeyModeController.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, svelte-check --tsconfig ./tsconfig.app.json

refactor: transform logic
  src/components/viewer/ViewerCanvas.svelte
  src/lib/viewer/ViewerCommentController.ts
  src/lib/viewer/ViewerMeasurementController.ts
  src/lib/viewer/initializeViewerRenderer.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, svelte-check --tsconfig ./tsconfig.app.json

Fix PR#76 issues: add mobileBreakpoint param, localStorage error handling, verify shift-snap
  src/components/viewer/ViewerCanvas.svelte
  src/lib/viewer/ViewerCommentController.ts
  src/lib/viewer/ViewerMeasurementController.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, svelte-check --tsconfig ./tsconfig.app.json

fix(viewer): clean up listener lifecycle and restore check pass
  DevLog/DevLog-006-00-Viewer-Stability-and-Refactor-Fixes.md
  src/components/viewer/ViewerCanvas.svelte
  src/lib/renderer/PixiRenderer.ts
  src/lib/renderer/overlays/MeasurementOverlay.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, svelte-check --tsconfig ./tsconfig.app.json

feat(security): use short-lived scoped API tokens for file/python endpoints
  .env.example
  .env.production
  .github/workflows/deploy.yml
  DevLog/DevLog-006-01-Short-Lived-API-Token-Hardening.md
  server/.env.example
  server/README.md
  server/auth.js
  server/fileStorage.js
  server/pythonExecutor.js
  server/server.js
  src/lib/api/authTokenClient.ts
  src/lib/api/pythonExecutor.ts
  src/lib/collaboration/FileTransfer.ts
  src/lib/collaboration/SessionManager.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(security): add ephemeral TURN credentials with client fallback
  .env.example
  .env.production
  DevLog/DevLog-006-02-Ephemeral-TURN-Credentials.md
  server/.env.example
  server/README.md
  server/auth.js
  server/server.js
  server/turnCredentials.js
  src/lib/api/turnCredentialsClient.ts
  src/lib/collaboration/SessionManager.ts
  src/lib/collaboration/YjsProvider.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

update devlog
  DevLog/DevLog-006-00-Viewer-Stability-and-Refactor-Fixes.md
  DevLog/DevLog-006-01-Short-Lived-API-Token-Hardening.md
  DevLog/DevLog-006-02-Ephemeral-TURN-Credentials.md
Due: none

test(security): cover token, TURN, and auth middleware flows
  DevLog/DevLog-006-00-Viewer-Stability-and-Refactor-Fixes.md
  tests/api/authTokenClient.test.ts
  tests/api/pythonExecutor.auth.test.ts
  tests/api/turnCredentialsClient.test.ts
  tests/collaboration/FileTransfer.auth.test.ts
  tests/collaboration/YjsProvider.turn.test.ts
  tests/server/auth.test.ts
  tests/server/turnCredentials.test.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(comments): add threaded conversations with soft-delete
  DevLog/DevLog-006-01-Comment-Conversations.md
  src/components/comments/CommentPanel.svelte
  src/components/viewer/ViewerCanvas.svelte
  src/lib/collaboration/CommentSync.ts
  src/lib/collaboration/types.ts
  src/lib/viewer/ViewerCommentController.ts
  src/stores/commentStore.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, svelte-check --tsconfig ./tsconfig.app.json

docs(devlog): include rollout checklist updates
  DevLog/DevLog-006-00-Viewer-Stability-and-Refactor-Fixes.md
Due: none

fix(viewer): allow spaces in comment inputs
  DevLog/DevLog-006-01-Comment-Conversations.md
  src/lib/renderer/controls/MouseController.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

style(ui): enforce sharp corners across components
  src/app.css
  src/components/code/CodeConsole.svelte
  src/components/code/ConfirmModal.svelte
  src/components/code/EditorLayout.svelte
  src/components/code/ExampleSelector.svelte
  src/components/comments/CommentBubble.svelte
  src/components/comments/CommentInputModal.svelte
  src/components/comments/CommentPanel.svelte
  src/components/ui/DesktopFileControls.svelte
  src/components/ui/ErrorToast.svelte
  src/components/ui/FileUpload.svelte
  src/components/ui/HeaderBar.svelte
  src/components/ui/HelpModal.svelte
  src/components/ui/LayerPanel.svelte
  src/components/ui/LoadingOverlay.svelte
  src/components/ui/Minimap.svelte
  src/components/ui/MobileControls.svelte
  src/components/ui/ParticipantList.svelte
  src/components/ui/PerformancePanel.svelte
  src/components/ui/UnitSelectionDialog.svelte
  src/components/viewer/ViewerCanvas.svelte
Due: biome format --write --no-errors-on-unmatched, svelte-check --tsconfig ./tsconfig.app.json

fix(ui): restore circular loading spinners
  src/components/ui/FileUpload.svelte
  src/components/ui/LoadingOverlay.svelte
Due: biome format --write --no-errors-on-unmatched, svelte-check --tsconfig ./tsconfig.app.json

Create SECURITY.md for security policy
  SECURITY.md
Due: none

devlog on e2e validation
  DevLog/DevLog-007-01-End-to-End-Validation-and-Collaboration-Testing.md
Due: none

feat(renderer): establish geometry correctness diagnostics
  .gitignore
  scripts/devlog-007/generate_fixtures.py
  scripts/devlog-007/requirements.txt
  src/App.svelte
  src/components/ui/RenderDiagnosticsBanner.svelte
  src/components/viewer/ViewerCanvas.svelte
  src/lib/config.ts
  src/lib/diagnostics/renderDiagnostics.ts
  src/lib/gds/GDSParser.ts
  src/lib/layout/AffineTransform.ts
  src/lib/layout/ArrayReference.ts
  src/lib/layout/coordinates.ts
  src/lib/renderer/PixiRenderer.ts
  src/lib/renderer/rendering/GDSRenderer.ts
  src/lib/viewer/initializeViewerRenderer.ts
  src/stores/gdsStore.ts
  src/types/gds.ts
  tests/diagnostics/renderDiagnostics.test.ts
  tests/fixtures/devlog-007/README.md
  tests/fixtures/devlog-007/manifest.json
  tests/fixtures/devlog-007/multiple_top_cells.gds
  tests/fixtures/devlog-007/multiple_top_cells.semantic.json
  tests/fixtures/devlog-007/non_default_dbu.gds
  tests/fixtures/devlog-007/non_default_dbu.semantic.json
  tests/fixtures/devlog-007/skewed_aref.gds
  tests/fixtures/devlog-007/skewed_aref.semantic.json
  tests/fixtures/devlog-007/transformed_sref.gds
  tests/fixtures/devlog-007/transformed_sref.semantic.json
  tests/gds/DevLog007Fixtures.test.ts
  tests/layout/AffineTransform.test.ts
  tests/layout/ArrayReference.test.ts
  tests/layout/coordinates.test.ts
  tests/renderer/GDSRenderer.completeness.test.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, svelte-check --tsconfig ./tsconfig.app.json

docs(devlog): record correctness milestone evidence
  DevLog/DevLog-007-02-Execution-Decisions-and-Plan.md
  DevLog/benchmarks/devlog-007/2026-08-08-correctness-foundation-baseline.md
  DevLog/benchmarks/devlog-007/2026-08-08-correctness-milestone-1.md
  artifacts/devlog-007/2026-08-08-correctness-foundation/baseline.json
  artifacts/devlog-007/2026-08-08-correctness-foundation/baseline.md
  artifacts/devlog-007/2026-08-08-correctness-foundation/partial-render-warning.json
  artifacts/devlog-007/2026-08-08-correctness-foundation/partial-render-warning.png
  artifacts/devlog-007/2026-08-08-correctness-milestone-1/baseline.json
  artifacts/devlog-007/2026-08-08-correctness-milestone-1/baseline.md
  scripts/devlog-007/README.md
  scripts/devlog-007/capture_diagnostics.mjs
  scripts/devlog-007/collect_baseline.py
Due: none
