Repository jwt625/gdsjam: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, svelte-check --tsconfig ./tsconfig.app.json

.lintstagedrc.json:

{
	"*.{ts,js}": [
		"biome check --write --no-errors-on-unmatched",
		"biome format --write --no-errors-on-unmatched"
	],
	"*.svelte": [
		"biome format --write --no-errors-on-unmatched",
		"svelte-check --tsconfig ./tsconfig.app.json"
	]
}

fix(renderer): keep hierarchy progress finite
  src/lib/renderer/rendering/GDSRenderer.ts
  tests/renderer/GDSRenderer.completeness.test.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

test(e2e): add deterministic viewer browser harness
  .gitignore
  e2e/README.md
  e2e/fixtures.ts
  e2e/viewer-smoke.spec.ts
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  scripts/devlog-007/generate_fixtures.py
  scripts/verify-production-test-api.mjs
  src/App.svelte
  src/components/ui/FileUpload.svelte
  src/components/ui/RenderDiagnosticsBanner.svelte
  src/components/viewer/ViewerCanvas.svelte
  src/lib/renderer/PixiRenderer.ts
  src/lib/testing/e2eTestApi.ts
  tests/fixtures/devlog-007/deep_hierarchy.gds
  tests/fixtures/devlog-007/deep_hierarchy.semantic.json
  tests/fixtures/devlog-007/manifest.json
  tests/gds/DevLog007Fixtures.test.ts
  tsconfig.e2e.json
  tsconfig.node.json
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, svelte-check --tsconfig ./tsconfig.app.json

feat(gds): add typed parser diagnostics
  DevLog/benchmarks/devlog-007/2026-08-08-parser-diagnostics-validation.md
  src/lib/converters/DxfToGdsConverter.ts
  src/lib/diagnostics/renderDiagnostics.ts
  src/lib/gds/GDSParser.ts
  src/types/gds.ts
  tests/diagnostics/renderDiagnostics.test.ts
  tests/gds/GDSParserDiagnostics.test.ts
  tests/renderer/GDSRenderer.completeness.test.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(layout): add hierarchy-preserving scene index
  src/lib/gds/GDSParser.ts
  src/lib/layout/LayoutSceneIndex.ts
  src/types/gds.ts
  tests/layout/LayoutSceneIndex.test.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

perf(layout): memoize scene index construction
  src/lib/layout/LayoutSceneIndex.ts
  tests/layout/LayoutSceneIndex.test.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

fix(test): isolate Playwright specs from Vitest
  vitest.config.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

fix(gds): diagnose compact array references once
  src/lib/gds/GDSParser.ts
  tests/gds/GDSParserDiagnostics.test.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

docs(devlog): track parallel correctness milestones
  DevLog/DevLog-007-02-Execution-Decisions-and-Plan.md
Due: none

fix(layout): version semantic scene identity
  src/lib/layout/LayoutSceneIndex.ts
  tests/layout/LayoutSceneIndex.test.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

test(e2e): cover parser diagnostics in browser
  DevLog/benchmarks/devlog-007/2026-08-08-parser-browser-e2e-validation.md
  e2e/README.md
  e2e/parser-diagnostics.spec.ts
  scripts/devlog-007/generate_parser_e2e_fixtures.py
  src/lib/testing/e2eTestApi.ts
  tests/fixtures/devlog-007/parser-diagnostics/README.md
  tests/fixtures/devlog-007/parser-diagnostics/invalid_units.gds
  tests/fixtures/devlog-007/parser-diagnostics/manifest.json
  tests/fixtures/devlog-007/parser-diagnostics/missing_units.gds
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

perf(scene): benchmark compact array indexing
  DevLog/benchmarks/devlog-007/2026-08-08-scene-index.md
  artifacts/devlog-007/2026-08-08-scene-index/scene-index-benchmark.json
  scripts/devlog-007/README.md
  scripts/devlog-007/benchmark_scene_index.mjs
Due: none

feat(viewer): require explicit top-cell scope
  e2e/viewer-smoke.spec.ts
  src/App.svelte
  src/components/ui/TopCellSelector.svelte
  src/components/viewer/ViewerCanvas.svelte
  src/lib/renderer/PixiRenderer.ts
  src/lib/renderer/rendering/GDSRenderer.ts
  src/lib/testing/e2eTestApi.ts
  src/lib/viewer/initializeViewerRenderer.ts
  src/stores/gdsStore.ts
  tests/renderer/GDSRenderer.completeness.test.ts
  tests/stores/gdsStore.topCells.test.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, svelte-check --tsconfig ./tsconfig.app.json

fix(viewer): unload inactive render scope
  src/components/viewer/ViewerCanvas.svelte
  src/lib/renderer/PixiRenderer.ts
  tests/renderer/GDSRenderer.completeness.test.ts
  tests/renderer/PixiRenderer.documentLifecycle.test.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, svelte-check --tsconfig ./tsconfig.app.json

docs(devlog): record hierarchy and browser milestones
  DevLog/DevLog-007-02-Execution-Decisions-and-Plan.md
Due: none

test(renderer): add exact reference raster oracle
  DevLog/benchmarks/devlog-007/2026-08-08-reference-raster.json
  DevLog/benchmarks/devlog-007/2026-08-08-reference-raster.md
  package.json
  scripts/devlog-007/reference-raster-evidence.ts
  src/lib/testing/referenceRasterizer.ts
  tests/testing/referenceRasterizer.test.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(renderer): prototype complete overview coverage
  .env.example
  DevLog/benchmarks/devlog-007/2026-08-08-complete-overview-prototype.md
  artifacts/devlog-007/2026-08-08-complete-overview/overview-benchmark.json
  e2e/viewer-smoke.spec.ts
  playwright.config.ts
  scripts/devlog-007/README.md
  scripts/devlog-007/benchmark_complete_overview.mjs
  src/lib/renderer/PixiRenderer.ts
  src/lib/renderer/overview/CompleteOverview.ts
  src/lib/renderer/overview/OverviewPixiLayer.ts
  src/lib/testing/e2eTestApi.ts
  src/vite-env.d.ts
  tests/renderer/CompleteOverview.test.ts
  tests/renderer/PixiRenderer.documentLifecycle.test.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

docs(devlog): close initial execution wave
  DevLog/DevLog-007-02-Execution-Decisions-and-Plan.md
Due: none

ci: remove automatic Claude review
  .github/workflows/claude-code-review.yml
Due: none

feat(release): expose tagged build version
  .github/workflows/deploy.yml
  src/App.svelte
  src/lib/buildInfo.ts
  src/lib/examples/examples.ts
  src/vite-env.d.ts
  vite.config.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, svelte-check --tsconfig ./tsconfig.app.json

fix(release): isolate web release tags
  .github/workflows/deploy.yml
Due: none

ci(release): build desktop from immutable tags
  .github/workflows/release.yml
  src-tauri/README.md
Due: none

ci(deploy): allow tagged release redeploys
  .github/workflows/deploy.yml
Due: none

fix(review): harden geometry and release correctness
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  src/lib/diagnostics/renderDiagnostics.ts
  src/lib/gds/GDSParser.ts
  src/lib/layout/AffineTransform.ts
  src/lib/renderer/PixiRenderer.ts
  src/lib/renderer/rendering/GDSRenderer.ts
  src/types/gds.ts
  tests/diagnostics/renderDiagnostics.test.ts
  tests/gds/DevLog007Fixtures.test.ts
  tests/layout/AffineTransform.test.ts
  tests/renderer/GDSRenderer.completeness.test.ts
  tests/renderer/PixiRenderer.diagnostics.test.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

fix(test): use committed hierarchy fixture
  tests/gds/DevLog007Fixtures.test.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched
